<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

        <div ng-controller="loginCtrl as self" class="ui grid center aligned" style="min-height: 100vh; background-image: url('assets/imgs/sunset-clouds.jpeg'); margin-top: 0px">
         <div class="ui middle aligned center aligned grid" style="min-width: 400px">
          <div class="column">
            <h2 class="ui blue icon header">
              <i class="ui icon users"></i>
              <div class="content">
                Connexion
              </div>
            </h2>
            <!-- <form class="login-form" name="loginForm" ng-show="checked" ng-submit="login()"> -->
            <form class="ui large form" style="opacity: 0.8" method="post" name="user" ng-submit="login()">
              <div class="ui stacked segment blue">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="email" ng-model="email" placeholder="E-mail address" autocomplete="off">
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" ng-model="password" placeholder="Password" autocomplete="off">
                  </div>
                </div>
                <br />
                <input type="submit" value="Login" class="ui fluid blue submit button"/>
              </div>

            </form>

            <div class="ui message" style="opacity: 0.8">
              <div class="ui grid" style="margin: -10px !important">
                <div class="two column row">
                  <div class="column">
                    Nouveau sur le site ?
                  </div>
                  <div class="column right aligned">
                    <a href="#/register" class="ui right compact mini blue basic button"> S'inscrire</a>
                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>
       </div>
  </body>
</html>
