<style>
  body {
    background-image: url("/assets/sunset-clouds.jpeg");
    background-size: 100% 120%;
  }
  /* GODDAMN YELLOWISH AUTOCOMPLETE CHROME !!! lucas je te laisse gerer les couleurs dorenavent */
  .ui.form .field.field input:-webkit-autofill,
  .ui.form .field.field input:-webkit-autofill:hover,
  .ui.form .field.field input:-webkit-autofill:focus {
    box-shadow: 0 0 0 100px #ffffff inset !important;
    opacity: 0.4;
    border-color: #1E824C !important;
    border-width: 1px;
    color: rgba(71,73,78,1) !important;
    /*background-image: rgba(255,255,255,0.4) !important;*/
  }
  /*.ui.form .field.field input:-webkit-autofill:focus {
    box-shadow: 0 0 0 100px #E0E0E0 inset !important;
    border-color: #E0E0E0 !important;
    background: rgba(255,255,255,0.4) !important;
    color: #47494e !important;
  }*/

  .ui.form .field.field input {
    border-radius: 0px;
    background: rgba(255,255,255,0.4) !important;
    color: #47494e !important;
  }
  .ui.form .field.field input::-webkit-input-placeholder {
    color: rgba(138,136,128,1) !important;
  }

  .ui.button:hover {
    background: rgba(255,255,255,0.65) !important;
  }
</style>
<div class="ui middle aligned center aligned grid" style="padding-top: 6.5%;">
  <div class="four wide column">
    <h2 class="ui image header">
        <img src="assets/abstract-111.png" style="width:130px;" class="image">
    </h2>
    <h2 style="margin-top:0px; padding-bottom: 28%; color:white;">M A R O O N E D</h2>
    <form method="post" name="user" class="ui large form" action="/connection">
      <!-- <div class="ui stacked segment"> -->
        <div class="field">
          <div class="ui left icon input">
            <i class="black user icon"></i>
            <input type="text" name="name" placeholder="Username">
          </div>
        </div>
        <!-- if {{register}} -->
        <div ng-show="register" class="field">
          <div class="ui left icon input">
            <i class="black lock icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="black lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <input type="submit" class="ui left attached button" style="width:296px; text-align:center; border-radius: 0px; background: rgba(255,255,255,0.4);" value="LOG IN"/>
        <!-- <input class="right attached ui button" style="width:146px; text-align:center; border-radius: 0px; background: rgba(255,255,255,0.4);" value="REGISTER"/> -->
    </form>
      <!-- </div> -->
      <!-- <div class="ui error message"></div> -->
    <div ng-hide="register" class="ui message" style="width:296px; text-align:center; border-radius: 0px; background: rgba(255,255,255,0.65);">
      Nouveau ? <a ng-click="register=!register" ng-init="register=false" style="cursor:pointer;">S'enregistrer</a>
    </div>
    <div ng-show="register" class="ui message" style="width:296px; text-align:center; border-radius: 0px; background: rgba(255,255,255,0.65);">
      Déja membre ? <a ng-click="register=!register" style="cursor:pointer;">Se connecter</a>
    </div>
  </div>
</div>
